
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Title = "JCIN後台管理系統";
    ViewBag.BodyClass = "Login";
    ViewBag.IsFirstPage = true;
}

@section IncludeScript{
    @* Google reCaptcha 驗證工具 *@
    <script src='https://www.google.com/recaptcha/api.js'></script>
}

<script type="text/javascript">
    function form_ok() {
        form1.submit();
    }

    $(function () {
        $("#valiCode").bind("click", function () {

            this.src = "@Url.Content("~/Manage/GetValidateCode")?time=" + (new Date()).getTime();
        });
    });
</script>

<h1 class="logo">
    @* @Resources.Res.System_Name<small>Web Manager</small> *@
    寶程國際物業管理系統<small class="text-muted m-l-8">Web Manager</small>
</h1>
<h6 class="font-sp text-primary">Bow Way &copy; 2017</h6>

<form class="text-left" name="form1" id="form1" action="@Url.Content("~/Manage/Login_Chk")" method="post">
    <header class="title font-sp">System Login</header>

    <main>
        <label>帳號 Username</label>
        <input type="text" class="form-element" placeholder="帳號" name="account" id="account" value=""  required>
        <label>密碼 Password</label>
        <input type="password" class="form-element" name="pwd" id="pwd" value="" required>
        <label>驗證碼 Code</label>
        <input type="text" class="form-element" name="ValidCode" id="ValidCode" value=""  required>
            @* Google reCaptcha 驗證工具 *@
            @*<div class="g-recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW"></div>*@
            <img id="valiCode" style="cursor: pointer;height:30px;" src="@Url.Content("~/Manage/GetValidateCode")" alt="驗証碼" />
    </main>

    <footer class="action-bar text-center">
        <button type="button" class="btn info" onclick="form_ok();">登入 LOGIN</button>
    </footer>
</form>
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["message"]));
            alert(message);
        </script>
    }
<script>
    //禁止按下enter
    $('#form1').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
</script>