@using OutWeb.Models.Manage.ProductModels
@model ProductDetailsDataModel
@{
    string currentUrl = "http://" + HttpContext.Current.Request.Url.Authority;
    string ActionName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"]);
}

<input type="hidden" id="hdnProductID" name="ProductID" value="@Model.ID" />
<section class="row row-x0">
    <div class="col-6">
        <dl class="field">
            <dt class="col-2"><sup title="必填">*</sup> 分類</dt>
            <dd class="col-10">
                @Html.DropDownList("TypeList", null, new { @id = "typeList", @Name = "type" })
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2"><sup title="必填">*</sup> 產品名稱</dt>
            <dd class="col-10">
                <input type="text" required value="@Model.ProductName" name="prName">
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2">型號</dt>
            <dd class="col-10">
                <input type="text" value="@Model.ProductType" name="prType">
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2">規格</dt>
            <dd class="col-10">
                <input type="text" value="@Model.ProductSpecification" name="prSpe">
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2">材質</dt>
            <dd class="col-10">
                <input type="text" value="@Model.ProductMaterial" name="prMt">
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2">特色</dt>
            <dd class="col-10">
                @* 按enter時會自動換行 *@
                <textarea name="prFeat" id="" rows="4">@Model.ProductFeatures</textarea>
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2">排序</dt>
            <dd class="col-10">
                <input type="number" value="@Model.Sort" class="inline" name="sortIndex" required>
                <small>數字愈大愈前面</small>
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2">前台顯示</dt>
            <dd class="col-10">
                <label class="switch">
                    <input type="checkbox" name="fSt">
                    <div class="slider round"></div>
                </label>
            </dd>
        </dl>
    </div>
    <div class="col-6">
        <dl class="field">
            <dt class="col-2">列表圖</dt>
            <dd class="col-10 append-img-s">
                <div class="input-file">
                    <input id="images_s" type="file" onchange="postImages(this);" name="images" accept="image/*" upload-mode="upload">
                    @*<button class="btn info sm oi" data-glyph="data-transfer-upload">上傳</button>*@
                </div>
                <small class="block text-secondary">可上傳 1 張圖片，建議尺寸 400*300px，每張圖最大不超過 200kb</small>
                @if (Model.ImagesData != null && Model.ImagesData.ID.HasValue)
                {
                    string imgUrl = currentUrl + "/" + Model.ImagesData.FileUrl;
                    @* 已上傳範例 *@
                    <div class="uploaded up-single">
                        <button class="hover-danger close" type="button" title="刪除此筆檔案" img-id="@Model.ImagesData.ID" del-obj="s">&#215;</button>
                        <a href="@imgUrl" target="new"><img src="@imgUrl alt=" 小圖"></a>
                        <input type="hidden" id="imgID" name="MemberData[0].ID" value="@Model.ImagesData.ID" />
                        <input type="hidden" id="imgName" name="MemberData[0].FileName" value="@Model.ImagesData.FileName" />
                        <input type="hidden" id="imgUrl" name="MemberData[0].FileUrl" value="@imgUrl" />
                    </div>
                }
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2">內頁圖</dt>
            <dd class="col-10 append-img-m">
                <div class="input-file">
                    <input id="images_m" type="file" onchange="postImages(this);" name="images" accept="image/*" upload-mode="upload" multiple>
                    @*<button class="btn info sm oi" data-glyph="data-transfer-upload">上傳</button>*@
                </div>
                <small class="block text-secondary">可上傳多張圖片，建議尺寸寬度不超過 1000px，每張圖最大不超過 500kb</small>
                @foreach (var img in Model.OtherImagesData)
                {
                    string imgUrl = currentUrl + "/" + img.FileUrl;
                    int index = Model.OtherImagesData.IndexOf(img);

                    @* 已上傳範例 *@
                    <div class="uploaded up-multiple">
                        <button class="hover-danger close" type="button" title="刪除此筆檔案" img-id="@img.ID" del-obj="m">&#215;</button>
                        <a href="@imgUrl" target="new"><img src="@imgUrl alt=" 小圖"></a>
                        <input type="hidden" id="imgID" name="MemberData[0].ID" value="@Model.ImagesData.ID" />
                        <input type="hidden" id="imgName" name="MemberData[0].FileName" value="@Model.ImagesData.FileName" />
                        <input type="hidden" id="imgUrl" name="MemberData[0].FileUrl" value="@imgUrl" />
                    </div>
                }
            </dd>
        </dl>
    </div>
</section>

<fieldset class="mt-24">
    <legend class="underline">[ 更多介紹 ]</legend>
    <div class="alert-warning mb-16">
        <strong>編輯器注意事項:</strong><br>
        從 WORD 複製文字時，請使用下方的 <img src="/Content/images/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br />
        編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br />
        檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明) <br />
        youtube 可勾選「用自適應縮放模式」
    </div>
    <textarea class="form-element" maxlength="512" name="contenttext" placeholder="請輸入產品內容..." rows="15">@Model.Content</textarea>

</fieldset>
<footer class="submit-bar clear mt-24">
    <button type="submit" class="btn success oi" data-glyph="circle-check">
        確認儲存
    </button>
    <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="location.href='ProductList'">
        回列表
    </button>
</footer>

<script>
    (function ($) {
        $(function () {
            //alert(CKEDITOR.version);
            $('#formManageProductData').submit(function () {
                if ($('#typeList').val() == '0') {
                    alert('請選擇產品分類!');
                    return false;
                }
            });
            CKFinder.setupCKEditor(null, { basePath: '/ckfinder/', skin: 'v1' });
            CKEDITOR.replace('contenttext');
            if ('@Model.ID' == '0') {
                $('[name="fSt"],[name="hSt"]').prop('checked', 'checked');
            }
            else {
                if ('@Model.DisplayForFrontEnd' == '@true') {
                    $('[name="fSt"]').prop('checked', 'checked');
                }
                else {
                    $('[name="fSt"]').prop('checked', '');
                }
            }
        })
    })(jQuery);
</script>

<script>
    (function ($) {
        $(function () {
            //刪除
            $(document).on('click', '.close', function () {
    
                var mode = $(this).attr('del-obj');
                $(this).closest('.uploaded').remove();
                if (mode == 's') {
                    $('#images_s').val('');
                }
                else if (mode == 'm') {
                    var f = document.getElementById('images_m');
                 var   fileCount = f.files.length;
                 $('#images_m').prev().text(fileCount + 'Selected');
                    //rename attribute
                    $(".up-multiple").each(function (i, elem) {
                        var $link = $(elem).find("input");
                        $link.each(function (x, el) {
                            var beforeName = $(el).attr('name');
                            var chartIndex = beforeName.indexOf('[') + 1;
                            var newName = beforeName.substr(0, chartIndex) +
                                i + beforeName.substr(chartIndex + 1, beforeName.length - chartIndex);
                            $(el).attr('name', newName);
                        });
                    });
                }
            });

            $('#formManageProductData').submit(function () {
                var imgUpIsSuccess = saveImages();
                if (!imgUpIsSuccess) {
                    return false;
                }
            });
        })
    })(jQuery);

    function saveImages() {
        if (typeof window._formData !== 'undefined') {
            var sImg = window._formData.get('images');
            var mImg = window._formData.get('imagesMultiple');
  

            if (sImg == null || mImg == null) {
                alert('請上傳圖片');
                return false;
            }
        }
        else {
            alert('請上傳圖片');
            return false;
        }
        window._formData.set("act", 'post');

        var url = "@Url.Content("~/ImgHandler/Index/")";
        $.ajax({
            async: false,
            type: "POST",
            url: url,
            data: window._formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {

            },
            error: function (error) {
                alert("errror");
            }
        });
    }

    function postImages(elem) {
        window._formData = new FormData();
        var mode = $(elem).attr('id');
        var uploadMode = $(elem).attr('upload-mode');
        var fileLimitSize = 2097152;//檔案大小2mb
        var ID = $('#hdnProductID').val();
        var totalFiles_s = document.getElementById('images_s');
        var totalFiles_m = document.getElementById('images_m');

        if (mode == 'images_s') {
            if (typeof window._formData !== 'undefined') {
                var sImg = window._formData.get('images');
                if (sImg != null)
                {
                    window._formData.delete('images');
                }
            }
            //var imgCount = $('.up-single').length;
            //if (imgCount + totalFiles_s.files.length > 1) {
            //    console.log(imgCount + totalFiles_s.files.length);
            //alert('圖不可超過1張!');
            $('.up-single').remove();
            //$('#images_s').val('');
            //    return;
            //}
            if (imgCount + totalFiles_s.files.length == 0) {
                alert('請選擇檔案!');
                return;
            }
            //檢查格式尺寸
            var sizePass = checkFileLimitSize(totalFiles_s, fileLimitSize);
            var typePass = checkFileExtension(totalFiles_s);
            if (!sizePass || !typePass) {
                return;
            }
            for (var i = 0; i < totalFiles_s.files.length; i++) {
                var file = totalFiles_s.files[i];
                window._formData.append("images", file);
            }
        }

        if (mode == 'images_m') {
            var imgCount = $('.up-multiple').length;
            //if (imgCount + totalFiles_m.files.length > 5) {
            //    alert('其他圖不可超過5張!');
            //    $('.up-multiple').remove();
            //    $('#images_m').val('');
            //    return;
            //}
            if (imgCount + totalFiles_m.files.length == 0) {
                alert('請選擇檔案!');
                return;
            }
            //檢查格式尺寸
            var sizePass = checkFileLimitSize(totalFiles_m, fileLimitSize);
            var typePass = checkFileExtension(totalFiles_m);
            if (!sizePass || !typePass) {
                return;
            }
            for (var i = 0; i < totalFiles_m.files.length; i++) {
                var file = totalFiles_m.files[i];
                window._formData.append("imagesMultiple", file);
            }
        }


        var urlPath = '@currentUrl';
        if (mode == 'images_m') {
            $(".up-multiple").each(function (i, elem) {
                var $link = $(elem).find("input");
                $link.each(function (x, el) {
                    var val = $(el).val();
                    var beforeName = $(el).attr('name');
                    var chartIndex = beforeName.indexOf('[') + 1;
                    var newName = beforeName.substr(0, chartIndex) +
                        i + beforeName.substr(chartIndex + 1, beforeName.length - chartIndex);
                    $(el).attr('name', newName);
                    if (newName == 'MemberData[' + i + '].FileUrl') {
                        var nVal = val.replace(urlPath + '/', '');
                    }
                    else {
                        nVal = val;
                    }
                    window._formData.append(newName, nVal);
                });
            });
        };

        window._formData.append("act", uploadMode);
        window._formData.append("UploadType", mode);
        window._formData.append("actionName", '@ActionName');
        window._formData.append("ID", ID);
        var sImg = window._formData.get('images');
        var mImg = window._formData.get('imagesMultiple');
 
        var url = "@Url.Content("~/ImgHandler/Index/")";
        $.ajax({
            async: false,
            type: "POST",
            url: url,
            data: window._formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                var imgUrl = '@currentUrl' + '/';
                if (response.redirectToActionUrl != null) {
                    window.location.href = response.redirectToActionUrl;
                }

                if (response.MemberData.length > 0) {
                    $('.up-single').remove();
                }
                if (response.MemberDataMultiple.length > 0) {
                    $('.up-multiple').remove();
                }


                for (var i = 0; i < response.MemberData.length; i++) {
                    var img = response.MemberData[i];
                    var $elemInsert =
                    '<div class="uploaded up-single">' +
                        '<button class="close" type="button" img-id="' + img.ID + '" del-obj="s" ">&times;</button>' +
                        '<img src="' + imgUrl + img.FileUrl + '" width="100" />' +
                        '<input type="hidden" id="imgID" name="MemberData[' + i + '].ID" value="' + img.ID + '" />' +
                        '<input type="hidden" id="imgName" name="MemberData[' + i + '].FileName" value="' + img.FileName + '" />' +
                        '<input type="hidden" id="imgUrl" name="MemberData[' + i + '].FileUrl" value="' + imgUrl + img.FileUrl + '" />' +
                    '</div>';
                    $('.append-img-s').append($elemInsert);
                }
                for (var i = 0; i < response.MemberDataMultiple.length; i++) {
                    var img = response.MemberDataMultiple[i];
                    var $elemInsert =
                    '<div class="uploaded up-multiple">' +
                        '<button class="close" type="button" img-id="' + img.ID + '" del-obj="m" ">&times;</button>' +
                        '<img src="' + imgUrl + img.FileUrl + '" width="100" />' +
                        '<input type="hidden" id="imgID" name="MemberData[' + i + '].ID" value="' + img.ID + '" />' +
                        '<input type="hidden" id="imgName" name="MemberData[' + i + '].FileName" value="' + img.FileName + '" />' +
                        '<input type="hidden" id="imgUrl" name="MemberData[' + i + '].FileUrl" value="' + imgUrl + img.FileUrl + '" />' +
                    '</div>';
                    $('.append-img-m').append($elemInsert);
                }


            },
            error: function (error) {
                alert("errror");
            }
        });
    }
    //上傳照片 預覽
    function uploadImg(elem) {
        var mode = $(elem).attr('id');
        var uploadMode = $(elem).attr('upload-mode');
        var fileLimitSize = 2097152;//檔案大小2mb
        var ID = $('#hdnProductID').val();
        var totalFiles = document.getElementById(mode);
        var formData = new FormData();

        if (mode == 'images_s') {
            $('.up-single').remove();
        }
        if (mode == 'images_m') {
            var imgCount = $('.up-multiple').length;
            if (imgCount + totalFiles.files.length > 5) {
                alert('其他圖不可超過5張!');
                $('.up-multiple').remove();
                $('#images_m').val('');
                return;
            }
        }
        if (totalFiles.files.length == 0) {
            alert('請選擇檔案!');
            return;
        }

        //檢查格式尺寸
        var sizePass = checkFileLimitSize(totalFiles, fileLimitSize);
        var typePass = checkFileExtension(totalFiles);

        if (!sizePass || !typePass) {
            return;
        }

        for (var i = 0; i < totalFiles.files.length; i++) {
            var file = totalFiles.files[i];
            formData.append("images", file);
        }

        var urlPath = '@currentUrl';
        if (mode == 'images_m') {
            $(".up-multiple").each(function (i, elem) {
                var $link = $(elem).find("input");
                $link.each(function (x, el) {
                    var val = $(el).val();
                    var beforeName = $(el).attr('name');
                    var chartIndex = beforeName.indexOf('[') + 1;
                    var newName = beforeName.substr(0, chartIndex) +
                        i + beforeName.substr(chartIndex + 1, beforeName.length - chartIndex);
                    $(el).attr('name', newName);
                    if (newName == 'MemberData[' + i + '].FileUrl') {
                        var nVal = val.replace(urlPath + '/', '');
                    }
                    else {
                        nVal = val;
                    }
                    formData.append(newName, nVal);
                });
            });
        };

        formData.append("act", uploadMode);
        formData.append("UploadType", mode);
        formData.append("actionName", '@ActionName');
        formData.append("ID", ID);
        var url = "@Url.Content("~/ImgHandler/Index/")";
        $.ajax({
            async: false,
            type: "POST",
            url: url,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                var imgUrl = '@currentUrl' + '/';
                if (response.redirectToActionUrl != null) {
                    window.location.href = response.redirectToActionUrl;
                }
                if (response.UploadType == 'images_s') {
                    $('.up-single').remove();
                }
                else {
                    $('.up-multiple').remove();
                }
                var $insertElem = response.UploadType == 'images_s' ? $('.append-img-s') : $('.append-img-m');
                var insertClass = response.UploadType == 'images_s' ? 'up-single' : 'up-multiple';
                var delObj = response.UploadType == 'images_s' ? 's' : 'm';
                for (var i = 0; i < response.MemberData.length; i++) {
                    var img = response.MemberData[i];
                    var $elemInsert =
                    '<div class="uploaded up-single' + insertClass + '">' +
                        '<button class="close" type="button" img-id="' + img.ID + '" del-obj="' + delObj + '">&times;</button>' +
                        '<img src="' + imgUrl + img.FileUrl + '" width="100" />' +
                        '<input type="hidden" id="imgID" name="MemberData[' + i + '].ID" value="' + img.ID + '" />' +
                        '<input type="hidden" id="imgName" name="MemberData[' + i + '].FileName" value="' + img.FileName + '" />' +
                        '<input type="hidden" id="imgUrl" name="MemberData[' + i + '].FileUrl" value="' + imgUrl + img.FileUrl + '" />' +
                    '</div>';
                    $insertElem.append($elemInsert);
                }
            },
            error: function (error) {
                alert("errror");
            }
        });
    }


    //檢查尺寸
    function checkFileLimitSize(totalFiles, fileLimitSize) {
        var success = true;
        for (var i = 0; i < totalFiles.files.length; i++) {
            var file = totalFiles.files[i];
            if (file.size > fileLimitSize) {
                success = false;
                alert("圖片大小不可超過2mb.");
                break;
            }
        }
        return success;
    }
    //檢查副檔名
    function checkFileExtension(totalFiles) {
        var success = true;
        var allowedExtension = ["image/bmp", "image/gif", "image/jpeg", "image/jpg", "image/png"];
        for (var i = 0; i < totalFiles.files.length; i++) {
            var fileExtension = totalFiles.files[i].type;
            var findIndex = $.inArray(fileExtension, allowedExtension);
            if (findIndex < 0) {
                success = false;
                alert("只允許上傳 bmp, gif, jpeg, jpg, png圖檔.");
                break;
            }
        }
        return success;
    }

</script>