<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title - WTB 懷特博</title>
    <link rel="stylesheet" href="~/Content/css/vendor/open-iconic.css">
    <link rel="stylesheet" href="~/Content/css/grid.css">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
@if (ViewBag.IsFirstPage)
{
    <link rel="stylesheet" href="~/Content/css/index.css">
}
else
{
    <link rel="stylesheet" href="~/Content/css/page.css">
}
    @RenderSection("IncludeCSS", false)
    @RenderSection("css", false)
</head>
<body class="@ViewBag.BodyClass">
    <div id="wrapper">
        <header id="header">
            <div class="wrap">
                <h1 class="logo" onclick="location.href='@Url.Content("~/Home")'" title="回首頁" tabindex="-1">
                    WTB 懷特博
                </h1>
                <nav id="menu">
                    <a href="~/Home/AboutUs" class="@(ViewBag.BodyClass == "AboutUs" ? "current" : "")">公司簡介</a>
                    <a href="~/Home/Service" class="@(ViewBag.BodyClass == "Service" ? "current" : "")">服務項目</a>
                    <a href="~/News" class="@(ViewBag.BodyClass == "News" ? "current" : "")">訊息中心</a>
                    <a href="~/Home/ContactUs" class="@(ViewBag.BodyClass == "ContactUs" ? "current" : "")">客服中心</a>
                    <a href="~/Home/JoinUs" class="@(ViewBag.BodyClass == "JoinUs" ? "current" : "")">菁英招募</a>
                </nav>
            </div>
        </header>

        @RenderBody()

    </div><!-- wrapper //-->

    <a href="#header" class="goTop oi" data-glyph="chevron-top" title="TOP"></a>

    <footer id="footer">
        <div class="wrap row-x-0">
            <h1 class="logo-s">WTB 懷特博</h1>
            <dl class="foot-contact col-6">
                <dt class="underline">CONTACT US</dt>
                <dd>
                    <p class="inline-block">TEL <strong>02-2559-6960</strong></p>
                    <p class="inline-block m-l-32 m-t-0">FAX <strong>02-2558-3010</strong></p>
                    <p>台北市大同區重慶北路二段89號</p>
                </dd>
            </dl>
            <dl class="foot-club col-2 push-1">
                <dt class="underline">SHARE</dt>
                <dd>
                    <a href="#" class="icon-fb">Facebook</a>
                    <a href="#" class="icon-twitter">Twitter</a>
                    <a href="#" class="icon-line">Line</a>
                </dd>
            </dl>
        </div>
        <div class="copyright text-center">&copy; 2017 Bow Way International Group</a></div>
    </footer><!-- footer //-->

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script>
        $('body').waypoint(function(direction) {
            if( direction === 'down' ) {
                $('body').addClass('scrolled');
                $('.goTop').fadeIn();
            }
            else if( direction === 'up' ){
                $('body').removeClass('scrolled');
                $('.goTop').fadeOut();
            }
        }, { offset: '-1px' } );

        // 點選後跳到 href 指向的位置
        $('.scroll').click(function () {
            var scrollToAnchor = $(this).attr('href');
            $('html, body').stop(true).animate({
                scrollTop: $(scrollToAnchor).offset().top - 40
            }, 750);
            return false;
        });
        $('.goTop').click(function () {
            $('body, html').stop(true).animate({ scrollTop: 0 }, 800);
            return false;
        });

        // dropdown
        var $dropbtn = $(".dropdown-toggle"),
            dropcontent = ".dropdown-content";
        $dropbtn.click(function(event){
            event.stopPropagation();
            $(this).next(dropcontent).slideToggle("300");
        });
        $(window).click(function() {
            //Hide the menus if visible
            $(dropcontent).slideUp("500")
        });
    </script>

    @RenderSection("scripts", required: false)
    @RenderSection("IncludeScript", false)

</body>
</html>
